body {
  margin: 0;
  font-family: "Poppins" , sans-serif;
}

.header {
  background-color: #1b8af1;
  color: white;
  text-align: center;
}

.registration-form {
  margin: 0 20px;
}

.radio-label,
.checkbox-label {
  display: inline-block;
  padding-bottom: 10px;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-field {
  display: flex;
  justify-content: center;
  border: 1px #1b8af1 solid;
  margin: 10px auto;
}

.section {
  border-top: 1px solid black;
}

.section > label {
  display: inline-block;
}

select {
  margin-left: 10px;
}

textarea {
  display: block;
  width: 100%;
  line-height: 3;
}

.form-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  padding: 20px 40px;
  background-color: white;
  border: 1px #1b8af1 solid;
}

.form-button:hover {
  color: white;
  background-color:  #1b8af1;
}
