body{
  font-family: 'Times New Roman', Times, serif;
  margin: 20px 0;
}

h1{
  display: flex;
  justify-content: center;
}

table{
  width: 100%;
  margin: 0 auto;
  border: 1px #f3f3f3 solid;
  border-collapse: collapse;
  max-width: 98%;
}

tbody{
  width: 100%;
}
tr{
  width: 100%;
}
th{
  font-weight: bold;
  width: 25%;
  text-align: left;
}
tr:nth-child(even){
  background-color: #e1e1e1;
}
tr, td, th{
  padding: 5px;
  margin: 0;
  border: none;
}
td{
  text-align: left;
}

h3 {
  margin-bottom: 0;
}

ul{
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li{
  background-color: #1a83fd;
  width: 25%;
  margin: 5;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
a{
  color: white;
  text-decoration: none;
}