.nav {
  background-color: #383737;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.nav-items{
  margin: 0;
}

li{
  color: white;
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
}


.dropdown-content{
  position: absolute;
  padding: 0;
  display: none;
  top: 50px;
  list-style-type: none;
  background-color: #03a9f4;
}

.dropdown:hover .dropdown-content{
  display: block;
}

.dropdown{
  padding: 16px 0;
}

.dropdown-label{
  margin: 0;
}

.dropdown-content--item{
  display: block;
  text-align: left;
  padding: 20px;
  margin: 0;
}

.dropdown-content--item:hover{
  background-color: #1f90ff;
}
